<div class="auth-wrapper auth-wrapper_bg">
  <div class="directory">
    <div class="directory__wrapper">
      <ul class="directory__list">
        <li class="directory__list-item directory__list-item_logo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 14" width="17" height="14">
            <defs>
              <clipPath clipPathUnits="userSpaceOnUse" id="cp1">
                <path d="M-411 -20L549 -20L549 310L-411 310Z" />
              </clipPath>
            </defs>
            <style>
              tspan { white-space:pre }
              .shp0 { fill: #4a90e2 }
            </style>
            <g id="0.1 - Log In" clip-path="url(#cp1)">
              <g id="Logo/ Directory">
                <g id="-e-Logo">
                  <g id="Group">
                    <g id="Logo">
                      <g id="Logo">
                        <path id="Combined Shape" fill-rule="evenodd" class="shp0" d="M3.14 9.5C1.68 9.5 0.5 8.4 0.5 7.04C0.5 6.66 0.6 6.28 0.78 5.94L3.23 1.36C3.89 0.14 5.47 -0.35 6.77 0.26C7.28 0.5 7.69 0.88 7.95 1.36L8.5 2.39C8.36 2.55 8.24 2.74 8.14 2.93L4.65 9.44C4.64 9.46 4.63 9.48 4.62 9.5L3.14 9.5Z" />
                        <path id="Triangle Copy 2" class="shp0" d="M13.91 4.07L16.69 9.38C17.42 10.79 16.82 12.5 15.35 13.2C14.94 13.4 14.49 13.5 14.02 13.5L8.48 13.5C6.83 13.5 5.5 12.23 5.5 10.65C5.5 10.21 5.61 9.78 5.81 9.38L8.59 4.07C9.32 2.67 11.11 2.1 12.58 2.8C13.16 3.08 13.62 3.52 13.91 4.07L13.91 4.07Z" />
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <span class="directory__item-text">Your Company</span>
        </li>
        <li class="directory__list-item">App Directory</li>
      </ul>
    </div>
  </div>
  <div class="form auth-form">
    <router-outlet></router-outlet>
  </div>
</div>

