<div>
  <div class="form__title">Log In</div>
  <form class="form__group" autocomplete="off">
    <div class="form__control">
      <label class="form__label">
        <span class="form__label-text">Email</span>
        <input type="email" class="form__input form__input_email" placeholder="Email"/>
      </label>
      <label class="form__label">
        <span class="form__label-text">Password</span>
        <input type="email" class="form__input form__input_password" placeholder="Password"/>
      </label>
    </div>
    <div class="form__control form__control_row-centering">
      <label class="form__label_row">
        <input type="checkbox" class="form__input form__input_checkbox"/>
        <span class="form__label-text">Remember Me</span>
      </label>
      <a href="#" class="form__link">Forgot password</a>
    </div>
    <div class="form__submit">
      <button class="button button_blue" type="submit">Log in</button>
    </div>
    <div class="form__control form__control_row">
      <span class="form__label-text">Don't have an account yet?</span>
      <a href="#" class="form__link form__link_inline">Sing Up</a>
    </div>
  </form>
</div>
