<div>
  <form class="form-group" autocomplete="off">
    <div class="form-control p-0">
      <label
             class="p-0 p-t-1 p-b-1 m-0 d-f a-i-c z-1 sz-l-12">
        <span class="asterisk">* </span>
      </label>
      <input class="p-1 p-r-8 bg-trans z-2 sz-12"/>
      <label
             class="p-0 p-t-1 p-b-1 m-0 d-f a-i-c z-1 sz-l-12">
        <span class="asterisk">* </span>
      </label>
      <input class="p-1 p-r-8 bg-trans z-2 sz-12"/>
      <!--<span class="validation error"></span>-->
    </div>
    <div class="form-submit m-t-2">
      <button type="submit">Sign Up</button>
    </div>
  </form>
</div>
